-i https://pypi.org/simple/
blis==0.2.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
flask-cors==3.0.8
flask==1.1.1
gunicorn==19.9.0
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.3
joblib==1.0.1
lxml==4.4.1
markupsafe==1.1.1
mock==4.0.3
murmurhash==1.0.5
numpy==1.17.2
pandas==0.25.1
patsy==0.5.1
plac==0.9.6
preshed==2.0.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scattertext==0.0.2.52
scikit-learn==0.24.2
scipy==1.5.4
six==1.15.0
spacy==2.1.8
srsly==1.0.5
statsmodels==0.12.2
thinc==7.0.8
threadpoolctl==2.1.0
tqdm==4.60.0
urllib3==1.25.8
wasabi==0.8.2
werkzeug==1.0.1
